.Main {
    height: 100%;
    display: flex;

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__content {
        display: flex;
        flex-grow: 1;
    }

    &__log{
        width: 200px;
        height: 100%;
        flex-shrink: 0;
    }
}