.Header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #f8f8f8;
    border-bottom: 1px solid #f0f0f0;
    color: #333;
    padding: 10px 20px;
    -webkit-app-region: drag;

    .win-control {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        height: 30px;

        &__item {
            width: 30px;

            &--min {}

            &--max {}

            &--close {}
        }
    }
}