.ProjectPage {
    height: 100%;
    display: flex;
    padding: 10px 10px 20px 10px;

    &__left {
        padding-left: 20px;
        display: flex;
        width: 400px;
        flex-direction: column;
    }

    &__right {
        margin-left: 40px;
        flex-grow: 1;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
    }

    &__projects {
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__settings {
        flex-grow: 1;
    }
}